<table style="border-collapse: collapse; width: 100%;" border="0" cellpadding="10">
    <tbody>
        <tr>
            <td style="width: 98.1074%;"><span>Dear User,</span></td>
        </tr>
        <tr>
            <td style="width: 98.1074%;"><%=message%></td>
        </tr>
       
    </tbody>
</table>