<table style="border-collapse: collapse; width: 100%;" border="0" cellpadding="10">
    <tbody>
        <tr>
            <td style="width: 98.1074%;"><span>Dear &lt;%= userName%&gt;, &lt;%= message%&gt;</span></td>
        </tr>
        <tr>
            <td style="width: 98.1074%;">Forgot your password?</td>
        </tr>
        <tr>
            <td style="width: 98.1074%;">We received a request to reset the password for your account.</td>
        </tr>
        <tr>
            <td style="width: 98.1074%;">To reset your password, click on the below link:</td>
        </tr>
        <tr>
            <td style="width: 98.1074%;">&lt;%= linkText%&gt;</td>
        </tr>
        <tr>
            <td style="width: 98.1074%;">If you did not forget your password, please disregard this email.</td>
        </tr>
    </tbody>
</table>